

<!-- <div class="section textInputs" id="login"> -->
    <div class="container-fluid newCourseForm">
        <h3 class="welcomeBack" style="text-align: center;"><%= t('crear-nueva-cuenta') %></h3>
        <%= form_for :user, url: signup_path do |f| %>
        


        
        <div class="mb-3" style="text-align: center;">
          
            <% if @user.avatar.attached? %>
              <%= image_tag(@user.avatar, width: '200px', class: 'rounded-circle topPic') %>
            <% else %>
              <%= image_tag('profileExample.jpeg', width: '200px', class: 'rounded-circle topPic') %>
            <% end %>
        </div>



        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Foto de Perfil</label>
          <%=f.file_field :avatar, class: "form-control Input", :placeholder => t('place-signup-admin') %>
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"><%= t('signup-first') %></label>
          <%=f.text_field :first_name, class: "form-control Input", :placeholder => t('place-signup-first') %>
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"><%= t('signup-last') %></label>
          <%=f.text_field :last_name, class: "form-control Input", :placeholder => t('place-signup-last') %>
        </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"><%= t('signup-username') %></label>
            <%=f.text_field :username, class: "form-control Input", :placeholder => t('place-signup-username') %>
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <%=f.text_field :email, class: "form-control Input", :placeholder => "Email" %>
          </div>
          
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"><%= t('signup-password') %></label>
            <%=f.password_field :password, class: "form-control Input", :placeholder => t('place-signup-password') %>
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"><%= t('signup-admincode') %></label>
            <%=f.password_field :admin_code, class: "form-control Input", :placeholder => t('place-signup-admin') %>
          </div>


          <%=f.submit t('signup-button'), class: "btn btn-primary" %> 
        <%end%>
    
    
      </div>
    
    <!-- </div> -->
    