

<!-- <div class="section textInputs" id="login"> -->
    <div class="container-fluid newCourseForm">
        <h3 class="welcomeBack" style="text-align: center;">Sign Up!</h3>
        <%= form_for :user, url: signup_path do |f| %>
        
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <%=f.text_field :username, class: "form-control Input", :placeholder =>'Enter Username' %>
          </div>
          
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <%=f.password_field :password, class: "form-control Input", :placeholder => 'Enter Password' %>
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Admin Code</label>
            <%=f.password_field :admin_code, class: "form-control Input", :placeholder => 'Enter Admin Code' %>
          </div>
        
          <%=f.submit "SIGN UP", class: "btn btn-lg btn-default loginButton" %> 
        <%end%>
    
    
      </div>
    
    <!-- </div> -->
    