<section id="features" style="background: #e6f0fe;">
    <div class="feature">
      <div>
        <h6 class="investPeople">VEN A COMPARTIR CON NOSOTROS EN NUESTROS EVENTOS</h6>
        <h2 class="betterEducation"><%= t('features-subtitle').html_safe %></h2>
        <p class="featureSubtitle"><%= t('features-caption') %></p>
      
    
    </div>
      <div class="row featuresTogether featTogeth">
        
        <div class="feature-box col-lg-4" id="ind-card">
          <%= image_tag 'innovation/team.png', class: "innovation-image", alt:"team", width:"150px"%>
          <h4 class="feature-title">Pastorela Familiar</h4>
          <p class="features-text">¡Unamos nuestros corazones en la fe y el amor! Los invitamos a todos a nuestra reunión familiar de parejas en la iglesia católica, donde compartiremos momentos de espiritualidad, unidad y alegría. Acompáñenos en este encuentro especial mientras fortalecemos nuestros lazos y celebramos el amor que nos une. ¡Los esperamos con los brazos abiertos para vivir juntos esta experiencia llena de bendiciones y gratitud!</p>
          <p><strong>Mas Informacion?</strong> Contactar Jose Flores (346) 777-1280  </p>
        </div>
        <div class="feature-box col-lg-4" id="ind-card">
          <%= image_tag 'rosario.png', class: "innovation-image", alt:"lightbulb", width:"160px"%>
          <h4 class="feature-title">Rosarios</h4>
          <p class="features-text">Únete a nosotros en un encuentro de espiritualidad y devoción cada domingo a las 5 de la mañana para rezar el Santo Rosario. También te invitamos a anotarte para participar en los meses del Rosario de Mayo y Octubre, así como en las tradicionales posadas de diciembre. Acompáñanos en estos momentos de reflexión y oración, fortaleciendo nuestra fe y compartiendo la gracia de estar en comunidad."</p>
          <p><strong>Mas Informacion?</strong> Contactar Miguel Matteu (631) 855-6055 </p>
        </div>
        <div class="feature-box col-lg-4" id="ind-card">
          <%= image_tag 'innovation/teen.png', class: "innovation-image", alt:"teen", width:"180px"%>
          <h4 class="feature-title">Vigilias</h4>
          <p class="features-text">Te extendemos una cordial invitación a nuestras vigilias mensuales que se celebran cada segundo sábado del mes. Únete a nosotros en esta experiencia de oración, reflexión y comunión espiritual mientras buscamos fortalecer nuestra fe y acercarnos aún más a la presencia divina. ¡Esperamos contar contigo en este encuentro lleno de bendiciones y crecimiento espiritual!</p>
          <p><strong>Mas Informacion?</strong> Contactar Alex Martinez (631) 575-7821 </p>
        </div>
      </div>
    </div>
  </section>


  <style>
    .mt-4 {
      margin-top: 2rem;
    }
    h2 {
      font-size: 1.8rem;
      font-weight: bold;
    }
    ul {
      list-style-type: square;
    }
  </style>
<br><br>
    <div class="container mt-4">
        <div class="row">
          <!-- Columna 1: Sacramentos -->
          <div class="col-md-6">
            <h2 class="text-center">Sacramentos</h2>
            <p>Los sacramentos son esenciales en la Iglesia Católica, ya que significan y confieren la gracia de Dios a los creyentes. Contáctenos para:</p>
            <ul>
              <li><strong>Bautismo, Primera Comunión y Confirmación o RICA:</strong> <br>Contactar Milagro (516) 497-4915</li>
              <li><strong>Matrimonio & Uncion de los Enfermos:</strong> Contactar Padre Romulo (347) 604-0731</li>
            </ul>
          </div>
          
          <!-- Columna 2: Confesiones -->
          <div class="col-md-6">
            <h2 class="text-center">Confesiones</h2>
            <p>La Confesión, también conocida como Reconciliación, ofrece arrepentimiento y perdón. Horarios de Confesión:</p>
            <ul>
              <li><strong>Ingles:</strong> Sábados 4:00 PM a 5:00 PM en la Iglesia de St.Kilian</li> 
              <li><strong>Español:</strong> Miercoles 7:00 PM - 9:00 PM en la cafeteria</li>
              <li><strong>Para confesiones privadas,</strong> Contactar Padre Romulo (347) 604-0731</li>
            </ul>
          </div>
        </div>
      </div><br>

      <p class="text-center"><strong>Mas Informacion?</strong> Padre Romulo Gomez (347) 604-0731<br>
      <strong>Parish of St.Kilian</strong> - www.stkilian.com <br> <strong>Comunidad Hispana de St.Kilian</strong> - www.seguidoresdejesus.com</p>