
<section id="" style="padding-bottom:50px;">

    <div class="events-heading">
        <h2 id="videos-heading" class=""><%= t('invitamos-heading') %></h2>
    </div>
    
    <div class="container">
      <div class="row">
    
        <div class="col-lg-4 col-md-12 ind-card text-center">
            <div class="card" >
              <%= image_tag('jovenes.jpg') %>
              <div class="card-body">
                <h4 class="card-title"><%= t('invi-partial-grupo-juvenil') %></h4>
                <h5 class="card-title"><%= t('joven-heading-h2') %></h5>
                <h5 class="card-title">50 Cherry St. Farmingdale NY 11735 (Cafeteria)</h5>
                <h6 class="card-text">7:45 PM - 9:30 PM</h6>
                <p class="card-text"><%= t('invi-partial-juvenil-context') %></p><br>
                <p>Mas Informacion? Contactar a Daniella Guevara (516) 708-6811</p>
                
              </div>
            </div>
          </div>
        
        <div class="col-lg-4 col-md-12 ind-card text-center">
          <div class="card">
            <%= image_tag('church.jpg') %>
            <div class="card-body">
              <h4 class="card-title">Adoracion al Santisimo</h4>
              <h5 class="card-title">485 Conklin St. Farmingdale NY 11735 (St.Kilian Roman Catholic Church)</h5>
              <h6 class="card-text">7:00 PM - 8:30 PM</h6>
              <h5 class="card-title">Cada Segundo Miercoles del Mes</h5>
              <!-- <p class="card-text"><%= t('invi-partial-misa-context') %></p> -->
              <p>El Santísimo Sacramento es la presencia real de Jesucristo en forma de pan consagrado durante la Eucaristía, un momento sagrado donde podemos experimentar su amor y gracia divina. Te invitamos a unirte con nosotros en la adoración al Santísimo Sacramento. Ven y comparte este momento de recogimiento y encuentro espiritual, donde encontraremos paz y fortaleceremos nuestra fe en comunidad.</p>
            </div>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-12 ind-card text-center">
            <div class="card">
              <%= image_tag('assamblea.jpg') %>
              <div class="card-body">
                <h4 class="card-title"><%= t('invi-grupoOracion') %></h4>
                <h5 class="card-title"><%= t('luzDelMundoSection.luzDelMundoJumbo.luzDelMundoTitle') %></h5>
                <h5 class="card-title">50 Cherry St. Farmingdale NY 11735 (Cafeteria)</h5>
                <h6 class="card-text">6:15 PM - 9:00 PM</h6>
                <p class="card-text"><%= t('invi-group-context') %></p><br>
                <p>Mas Informacion? Contactar a Alex Martinez <br>(631) 575-7821</p>
              </div>
            </div>
         </div>
    
      </div>
    </div>
    
    
    </section>
    
    