

<!-- About Padre Romulo -->
<div class="author-section" id="about-the-priest">
  <div class="container">
    <div class="row">
      <div class="col-md-5 d-flex align-items-center justify-content-center">
        <%= image_tag 'profile/romulo.png', class: "rounded-circle", alt:"Padre Romulo", width:"350px"%>
      </div>
      <div class="col-md-7">
        <h2><%= t('romulo.heading1') %></h2>
        <h5><%= t('romulo.heading2') %></h5>
        <p><%= t('romulo.p1') %></p>
        <p><%= t('romulo.p2') %></p>
        <p><%= t('romulo.p3') %></p>
        <p><%= t('romulo.p4') %></p>
        <p><%= t('romulo.p5') %></p>
        <p><%= t('romulo.p6') %></p>
      </div>
    </div>
  </div>
  </div>