<!-- Carousel items with bible verses -->
<section id="carousel">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 8"></button>
      </div>

      <div id="bible">
        <%= image_tag "bible.png", class:"bible", width: "100"%>
    </div>
      <div class="carousel-inner container-fluid compTextBox">
        
        <div class="carousel-item active">
          <div class="carousel-caption d-none d-md-block">
            <h5><%= t('v1-content') %></h5>
            <p><%= t('v1-verse') %></p>
          </div>
        </div>
  
        <div class="carousel-item">
          <div class="carousel-caption d-none d-md-block">
            <h5><%= t('v2-content') %></h5>
            <p><%= t('v2-verse') %></p>
          </div>
        </div>
  
        <div class="carousel-item">
          <div class="carousel-caption d-none d-md-block">
            <h5><%= t('v3-content') %></h5>
            <p><%= t('v3-verse') %></p>
          </div>
        </div>
  
        <div class="carousel-item">
          <div class="carousel-caption d-none d-md-block">
            <h5><%= t('v4-content') %></h5>
            <p><%= t('v4-verse') %></p>
          </div>
        </div>
  
        <div class="carousel-item">
          <div class="carousel-caption d-none d-md-block">
            <h5><%= t('v5-content') %></h5>
            <p><%= t('v5-verse') %></p>
          </div>
        </div>
  
        <div class="carousel-item">
          <div class="carousel-caption d-none d-md-block">
            <h5><%= t('v6-content') %></h5>
            <p><%= t('v6-verse') %></p>
          </div>
        </div>
  
        <div class="carousel-item">
          <div class="carousel-caption d-none d-md-block">
            <h5><%= t('v7-content') %></h5>
            <p><%= t('v7-verse') %></p>
          </div>
        </div>
  
        <div class="carousel-item">
          <div class="carousel-caption d-none d-md-block">
            <h5><%= t('v8-content') %></h5>
            <p><%= t('v8-verse') %></p>
          </div>
        </div>
  
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  