<section id="features">
    <div class="feature">
      <div>
        <h6 class="investPeople"><%= t('features-main-title') %></h6>
        <h2 class="betterEducation"><%= t('features-subtitle').html_safe %></h2>
        <p class="featureSubtitle"><%= t('features-caption') %></p>
      
    
    </div>
      <div class="row featuresTogether featTogeth">
        
        <div class="feature-box col-lg-4" id="ind-card">
          <%= image_tag 'innovation/teen.png', class: "innovation-image", alt:"teen", width:"180px"%>
          <h4 class="feature-title"><%= t('feature-title1') %></h4>
          <p class="features-text"><%= t('feature-context1') %></p>
        </div>
        <div class="feature-box col-lg-4" id="ind-card">
          <%= image_tag 'innovation/light.png', class: "innovation-image", alt:"lightbulb", width:"150px"%>
          <h4 class="feature-title"><%= t('feature-title2') %></h4>
          <p class="features-text"><%= t('feature-context2') %></p>
        </div>
        <div class="feature-box col-lg-4" id="ind-card">
          <%= image_tag 'innovation/team.png', class: "innovation-image", alt:"team", width:"150px"%>
          <h4 class="feature-title"><%= t('feature-title3') %></h4>
          <p class="features-text"><%= t('feature-context3') %></p>
        </div>
      </div>
    </div>
  </section>