<footer>
  <div class="container-fluid">
  <div class="row footer-section" id="">
    <div class="card col-lg-3 col-md-6 col-sm-12" id="ind-div-footer">
      <div class="card-body footerLogoDiv">
      <a class="" style="font-size: 20px; margin-top: 0;" href="/" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/'; }, 100);"><%= t('footer-sdj-link') %></a>
      <%= image_tag "logowhitedove.jpg", class: "", style: "width: 70px; margin: 0 auto;" %>
      <!-- <a href="/" class="btn-primary">Home</a> -->
      <a href="/about" class="btn-primary">About</a>
    </div>
    </div>

    <div class="card col-lg-3 col-md-6 col-sm-12" id="ind-div-footer">
      <div class="card-body footerCard">
      <a href="/<%= t('gospel-link-footer') %>" class="btn-primary"><%= t('footer-gospel-spanish') %></a>
      <a href="/noticias" class="btn-primary" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/noticias'; }, 100);"><%= t('footer-noticias') %></a>
      <a href="/virtus" class="btn-primary" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/virtus'; }, 100);">VIRTUS</a>
      <a href="/videos?page=1" class="btn-primary">Videos</a>
      <!-- <a href="#" class="btn-primary">Blog</a> -->
    </div>

    </div>

    <div class="card col-lg-3 col-md-6 col-sm-12" id="ind-div-footer">
      <div class="card-body footerCard">
      <a href="/events" class="btn-primary" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/events'; }, 100);"><%= t('footer-events') %></a>
      <a href="/calendar" class="btn-primary" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/calendar'; }, 100);">Calendar</a>
      <a href="/forms" class="btn-primary" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/forms'; }, 100);"><%= t('footer-resources') %></a>
      <a href="/our-parish" class="btn-primary" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/our-parish'; }, 100);"><%= t('nuestra-parroquia') %></a>

    </div>
    </div>

    <div class="card col-lg-3 col-md-6 col-sm-12" id="ind-div-footer">
      <div class="card-body footerCard">
      <a href="/contact" class="btn-primary" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/contact'; }, 100);"><%= t('footer-contact') %></a>
      <p class="address">485 Conklin Street</p>
      <p class="address">Farmingdale, New York 11735</p>
      <p class="address">(516) 249-0127</p>
    </div>
    </div>
  </div>

  <div class="text-center p-4 copyright" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="/copyright" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/copyright'; }, 100);"><%= t('footer-sdj-link') %></a>
  </div>
  </div>
</footer>


