<header class="App-header">
    <div class="card" id="header">
      <%= image_tag "group.jpg", id: "first-image"%> <%= image_tag "elmer.jpg",
      id: "second-image"%> <%= image_tag "fermina.jpg", id: "third-image"%> <%=
      image_tag "john.jpg", id: "fourth-image"%> <%= image_tag "jeffrey.jpg", id:
      "fifth-image"%> <%= image_tag "joseph.jpg", id: "sixth-image"%>
  
      <div class="card-body" id="header-body">
        <p class="card-text text-center" id="header-group-two"><%= t('header-group-two') %></p>
        <h5 class="card-title text-center" id="header-welcome">

          <% if !current_user %>
          <%= t('header-welcome') %>
          <% else %>
          <%= t('header-welcome-with-first-and-last', first_name: current_user.first_name, last_name: current_user.last_name) %>
          <% end %>
        
        </h5>
        <p class="card-text text-center" id="header-group"><%= t('header-group') %> </p>
      </div>
    </div>
  </header>

  <!-- No need for header tag, may be able to remove it -->