<header class="App-header">
    <div class="card" id="header">
      <%= image_tag "group.jpg", id: "first-image"%> <%= image_tag "elmer.jpg",
      id: "second-image"%> <%= image_tag "fermina.jpg", id: "third-image"%> <%=
      image_tag "john.jpg", id: "fourth-image"%> <%= image_tag "jeffrey.jpg", id:
      "fifth-image"%> <%= image_tag "joseph.jpg", id: "sixth-image"%>
  
      <div class="card-body" id="header-body">
        <p class="card-text text-center" id="header-group-two">30 AÑOS</p>
        <h5 class="card-title text-center" id="header-welcome">Bienvenidos</h5>
        <p class="card-text text-center" id="header-group">Seguidores de Jesus</p>
      </div>
    </div>
  </header>