
<section id="" style="padding-bottom:50px;">

<div class="events-heading">
    <h2 id="videos-heading" class=""><%= t('invitamos-heading') %></h2>
</div>

<div class="container">
  <div class="row justify-content-center align-items-center">

    <div class="col-lg-4 col-md-12 ind-card text-center">
        <div class="card" >
          <%= image_tag('jovenes.jpg') %>
          <div class="card-body">
            <h4 class="card-title"><%= t('invi-partial-grupo-juvenil') %></h4>
            <h5 class="card-title"><%= t('joven-heading-h2') %></h5>
            <h5 class="card-title">50 Cherry St. Farmingdale NY 11735 (Cafeteria)</h5>
            <h6 class="card-text">7:45 PM - 9:30 PM</h6>
            <p class="card-text"><%= t('invi-partial-juvenil-context') %></p>
            <a href="/angeles-de-dios" class="btn btn-primary" style="margin-top: 10px;" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/angeles-de-dios'; }, 100);"><%= t('quieres-ver-mas-button') %></a>
          </div>
        </div>
      </div>
    
    <div class="col-lg-4 col-md-12 ind-card text-center">
      <div class="card">
        <%= image_tag ('church.jpg')%>
        <div class="card-body">
          <h4 class="card-title"><%= t('invi-partial-misa') %></h4>
          <h5 class="card-title">485 Conklin St. Farmingdale NY 11735 (St.Kilian Roman Catholic Church)</h5>
          <h6 class="card-text">6:15 PM - 7:30 PM</h6>
          <p class="card-text"><%= t('invi-partial-misa-context') %></p>
          <a href="/misa" class="btn btn-primary" style="margin-top: 10px;" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/misa'; }, 100);"><%= t('quieres-ver-mas-button') %></a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 ind-card text-center">
        <div class="card">
          <%= image_tag ('assamblea.jpg')%>
          <div class="card-body">
            <h4 class="card-title"><%= t('invi-grupoOracion') %></h4>
            <h5 class="card-title"><%= t('luzDelMundoSection.luzDelMundoJumbo.luzDelMundoTitle') %></h5>
            <h5 class="card-title">50 Cherry St. Farmingdale NY 11735 (Cafeteria)</h5>
            <h6 class="card-text">6:15 PM - 9:00 PM</h6>
            <p class="card-text"><%= t('invi-group-context') %></p>
            <a href="/luz-del-mundo" class="btn btn-primary" style="margin-top: 10px;" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/luz-del-mundo'; }, 100);"><%= t('quieres-ver-mas-button') %></a>
          </div>
        </div>
     </div>








     

     <div class="col-lg-4 col-md-12 ind-card text-center">
      <div class="card">
        <img src="https://smmwichita.com/images/stories/solutio/events/Ourlady.jpg" width="auto" height="230px" />
        <div class="card-body">
          <h4 class="card-title">Grupo Guadalupano</h4>
          <h5 class="card-title">Nos Reunimos Cada 12 del Mes</h5>
          <h6 class="card-text">6:00 PM - 9:00 PM</h6>
          <p class="card-text">
            Te invitamos con alegría a unirte a nuestro apasionado Grupo Guadalupano y ser parte de una comunidad comprometida con la fe y el amor hacia Nuestra Señora de Guadalupe. Ven y comparte momentos significativos, aprende junto a nosotros y fortalece nuestra conexión espiritual mientras honramos a Nuestra Señora de Guadalupe. ¡Te esperamos con los brazos abiertos para crecer juntos en la devoción y la fraternidad!
          </p>
          <a href="/guadalupano" class="btn btn-primary" style="margin-top: 10px;" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/guadalupano'; }, 100);"><%= t('quieres-ver-mas-button') %></a>
        </div>
      </div>
    </div>
    
    
    <div class="col-lg-4 col-md-12 ind-card text-center">
      <div class="card">
        <img src="https://2.bp.blogspot.com/-yEV4wzmqqXI/UBaV45pEZHI/AAAAAAAABzk/cyKkD4vg7j4/s1600/sirviendo.jpg" width='auto' height="230px" />
        <div class="card-body">
          <h4 class="card-title">Atentiendo el Llamado del Senor</h4>
          <h6 class="card-text">Todos los Dias por YouTube</h6>
          <h6 class="card-text">8:45 PM - 9:45 PM</h6>
          <p class="card-text">
            Únete a nuestra comunidad de fe y espiritualidad para explorar juntos cómo responder al llamado divino en nuestras vidas de una manera profunda y significativa. Compartiremos momentos significativos, aprenderemos y fortaleceremos nuestra conexión con el Señor. ¡Esperamos nuevas voces y perspectivas en nuestro podcast! Únete a nosotros en este viaje de descubrimiento espiritual.
          </p>
          <a href="https://www.youtube.com/@jdouglaslazo2387/featured" class="btn btn-primary" style="margin-top: 10px;" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = 'https://www.youtube.com/@jdouglaslazo2387/featured'; }, 100);">Subscribete</a>
        </div>
      </div>
    </div>



    <div class="col-lg-4 col-md-12 ind-card text-center">
      <div class="card">
        <img src="https://i.pinimg.com/1200x/68/b7/29/68b72937564071dbf236fddbf50f6eca.jpg" width="auto" height="230px" />
        <div class="card-body">
          <h4 class="card-title">Pastoral Familiar</h4>
          <h5 class="card-title">485 Conklin St. Farmingdale NY 11735 (St.Kilian Roman Catholic Church)</h5>
          <h6 class="card-text">Cada Primer Sabado despues de la Misa <br>7:30 PM (Blue Room)</h6>
          <p class="card-text">
            ¡Únete a nosotros para compartir momentos significativos, aprender juntos y fortalecer nuestros lazos familiares mientras creamos recuerdos inolvidables! ¡Estamos emocionados de tener nuevas caras en nuestro grupo y esperamos que esta experiencia enriquecedora sea el inicio de muchas aventuras compartidas! 
          </p>
          <a href="/pastoral-familiar" class="btn btn-primary" style="margin-top: 10px;" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/pastoral-familiar'; }, 100);"><%= t('quieres-ver-mas-button') %></a>
        </div>
      </div>
    </div>

    

  </div>
</div>


</section>

