
<section id="" style="padding-bottom:50px;">

<div class="events-heading">
    <h2 id="videos-heading" class=""><%= t('invitamos-heading') %></h2>
</div>

<div class="container">
  <div class="row">

    <div class="col-lg-4 col-md-12 ind-card text-center">
        <div class="card" >
          <%= image_tag('jovenes.jpg') %>
          <div class="card-body">
            <h4 class="card-title"><%= t('invi-partial-grupo-juvenil') %></h4>
            <h5 class="card-title">Angeles de Dios</h5>
            <h5 class="card-title">50 Cherry St. Farmingdale NY 11735 (Cafeteria)</h5>
            <h6 class="card-text">7:45 PM - 9:30 PM</h6>
            <p class="card-text"><%= t('invi-partial-juvenil-context') %></p>
            <a href="/angeles-de-dios" class="btn btn-primary" style="margin-top: 10px;"><%= t('quieres-ver-mas-button') %></a>
          </div>
        </div>
      </div>
    
    <div class="col-lg-4 col-md-12 ind-card text-center">
      <div class="card">
        <%= image_tag('church.jpg') %>
        <div class="card-body">
          <h4 class="card-title"><%= t('invi-partial-misa') %></h4>
          <h5 class="card-title">485 Conklin St. Farmingdale NY 11735 (St.Kilian Roman Catholic Church)</h5>
          <h6 class="card-text">6:15 PM - 7:30 PM</h6>
          <p class="card-text"><%= t('invi-partial-misa-context') %></p>
          <a href="/misa" class="btn btn-primary" style="margin-top: 10px;"><%= t('quieres-ver-mas-button') %></a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 ind-card text-center">
        <div class="card">
          <%= image_tag('assamblea.jpg') %>
          <div class="card-body">
            <h4 class="card-title"><%= t('invi-grupoOracion') %></h4>
            <h5 class="card-title">Luz del Mundo</h5>
            <h5 class="card-title">50 Cherry St. Farmingdale NY 11735 (Cafeteria)</h5>
            <h6 class="card-text">6:15 PM - 9:00 PM</h6>
            <p class="card-text"><%= t('invi-group-context') %></p>
            <a href="/luz-del-mundo" class="btn btn-primary" style="margin-top: 10px;"><%= t('quieres-ver-mas-button') %></a>
          </div>
        </div>
     </div>

  </div>
</div>


</section>

