<div class="mainDiv">
  <div class="jovenesPartialMedia">
    <div class="media-body">
      <div class="cVHeading">
        <h6 class="investPeople"><%= t('youth-group') %></h6>
        <%= t('jpartial-header').html_safe %>
        <p><%= t('jovenes-partial-context') %></p>
        <p><%= t('jovenes-partial-slogan') %></p>
      </div>

      <div class="jovenesPartialInfo float-child">
        <h4><%= t('jpartial-h1') %></h4>
        <p><%= t('jpartial-p1') %></p>

        <h4><%= t('jpartial-h2') %></h4>
        <p><%= t('jpartial-p2') %></p>

        <h4><%= t('jpartial-h3') %></h4>
        <p><%= t('jpartial-p3') %></p>

        <h4><%= t('jpartial-h4') %></h4>
        <p><%= t('jpartial-p4') %></p>

        <a href="/angeles-de-dios" class="btn btn-primary btn-lg"
          ><%= t('quieres-ver-mas-button') %></a
        >
      </div>

      <div
        class="float-child second-jovenes-div d-flex align-items-center justify-content-center"
        id="second-jovenes-div"
      >
        <!-- <span class="media-left">
            <iframe
              width="500"
              height="315"
              src="https://www.youtube.com/embed/mZF9ZkHE80U"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </span> -->

        <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
          <!-- Slides -->
          <div class="carousel-inner">
            <div class="carousel-item active" style="height: 500px">
              <%= image_tag 'jovenes/1.jpg', class: "d-block w-100" %>
            </div>

            <div class="carousel-item" style="height: 500px">
              <%= image_tag 'jovenes/2.jpg', class: "d-block w-100" %>
            </div>

            <div class="carousel-item" style="height: 500px">
              <%= image_tag 'jovenes/3.jpg', class: "d-block w-100" %>
            </div>

            <div class="carousel-item" style="height: 500px">
              <%= image_tag 'jovenes/4.jpg', class: "d-block w-100" %>
            </div>

            <div class="carousel-item" style="height: 500px">
              <%= image_tag 'jovenes/5.jpg', class: "d-block w-100" %>
            </div>

            <div class="carousel-item" style="height: 500px">
              <%= image_tag 'jovenes/6.jpg', class: "d-block w-100" %>
            </div>

            <div class="carousel-item" style="height: 500px">
              <%= image_tag 'jovenes/7.jpg', class: "d-block w-100" %>
            </div>

            <div class="carousel-item" style="height: 500px">
              <%= image_tag 'jovenes/8.jpg', class: "d-block w-100" %>
            </div>
          </div>

          <!-- Controls -->
          <a
            class="carousel-control-prev"
            href="#imageCarousel"
            role="button"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#imageCarousel"
            role="button"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
