<div class="mainDiv">
  <div class="media">
    <div class="media-body">
      <div class="cVHeading">
        <h6 class="investPeople">GRUPO JUVENIL</h6>
        <h3>Angeles De <span class="highlight">Dios</span></h3>
        <p>
          Proverbios 22: 6 dice: «Instruye al niño en el camino que debe seguir,
          y cuando sea viejo no se apartará de él». Debemos formar niños y
          jóvenes para que conozcan a Dios Padre y amen a la iglesia de Cristo
          Jesús, y seran la próxima generación de cristianos y líderes que
          servirán dentro de la iglesia, así como también saldrán y harán el
          bien en el mundo. Ven! Y Acompañanos!
        </p>
        <p>JOVENES PARA CRISTO! HOY, MAÑANA, Y SIEMPRE!</p>
      </div>

      <div class="cVInfo float-child">
        <h4>Forma de Expression</h4>
        <p>
          Nos encanta crear una cultura positiva mediante la creación de
          dinámicas breves que involucren la participación de nuestra comunidad.
        </p>

        <h4>Actividades Juveniles</h4>
        <p>
          Nos encanta crear dramas para mostrar escenarios de la vida real donde
          Dios usa su poder para unir familias y ayudar a quienes necesitan
          ayuda.
        </p>

        <h4>Creatividad</h4>
        <p>
          Nos aseguramos de crear entornos únicos que dejarán una huella
          positiva en todos los miembros de nuestra comunidad.
        </p>

        <h4>Amor y Collaboracion</h4>
        <p>
          Todo lo que hacemos es para Dios y con mucho amor. Nos encanta
          trabajar juntos y ayudar a nuestra comunidad a crecer.
        </p>
      </div>

      <div class="float-child">
        <!-- <span class="media-left">
            <iframe
              width="500"
              height="315"
              src="https://www.youtube.com/embed/mZF9ZkHE80U"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </span> -->

        <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
          <!-- Slides -->
          <div class="carousel-inner" >
            <div class="carousel-item active" style="height: 500px">
              <%= image_tag 'jovenes/1.jpg', class: "d-block w-100" %>
            </div>

            <div class="carousel-item" style="height: 500px">
              <%= image_tag 'jovenes/2.jpg', class: "d-block w-100" %>
            </div>

            <div class="carousel-item" style="height: 500px">
              <%= image_tag 'jovenes/3.jpg', class: "d-block w-100" %>
            </div>

            <div class="carousel-item" style="height: 500px">
              <%= image_tag 'jovenes/4.jpg', class: "d-block w-100" %>
            </div>

            <div class="carousel-item" style="height: 500px">
              <%= image_tag 'jovenes/5.jpg', class: "d-block w-100" %>
            </div>

            <div class="carousel-item" style="height: 500px">
              <%= image_tag 'jovenes/6.jpg', class: "d-block w-100" %>
            </div>

            <div class="carousel-item" style="height: 500px">
              <%= image_tag 'jovenes/7.jpg', class: "d-block w-100" %>
            </div>

            <div class="carousel-item" style="height: 500px">
              <%= image_tag 'jovenes/8.jpg', class: "d-block w-100" %>
            </div>
          </div>

          <!-- Controls -->
          <a
            class="carousel-control-prev"
            href="#imageCarousel"
            role="button"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#imageCarousel"
            role="button"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
