<nav class="navbar navbar-expand-xl bg-body-tertiary" id="navbar">
  <div class="container-fluid inside-navbar">
    <span><%= image_tag "logowhitedove.jpg", class: "logo" %></span
    ><a id="brand-name-right-corner" class="navbar-brand" href="/" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/'; }, 100);"><%= t('brand-name-right-corner') %></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/'; }, 100);">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/events'; }, 100);"><%= t('events') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/videos?page=1" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/videos?page=1'; }, 100);">Videos</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Language
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "🇺🇸 English", switch_locale_path(:en), class: "dropdown-item", style: "color: black", onclick: "event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/switch_locale/en'; }, 100);"  %>
            <%= link_to "🇪🇸 Español", switch_locale_path(:es), class: "dropdown-item", style: "color: black", onclick: "event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/switch_locale/es'; }, 100);" %>
          </ul>
        </li>
       

        <% if current_user %>

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hi, <%= current_user.first_name %> 
            <% if current_user.avatar.attached? %>
              <%= image_tag(current_user.avatar, width: '40px', class: 'rounded-circle topPic', style: "") %>
            <% else %>
              <%= image_tag("profileExample.jpeg", width: '40px', class: 'rounded-circle topPic', style: "") %>
            <% end %>
          </a>


          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 250px; text-align: center">
            <li class="dropdown-item"><a href="<%= user_path(current_user) %>" style="color: black;" onclick="event.preventDefault(); setTimeout(function() { location.reload(true)} , 100); setTimeout(function() { window.location.href = '/users/<%= current_user.id %>'; }, 100); ">View Profile</a></li>
            <li class="dropdown-item"><a href="<%= edit_user_path(current_user) %>" style="color: black;" onclick="event.preventDefault(); setTimeout(function() { location.reload(true)} , 100); setTimeout(function() { window.location.href = '/users/<%= current_user.id %>/edit'; }, 100); ">Edit Profile</a></li>
            <li class="dropdown-item"><a href="/logout" style="color: black" onclick="event.preventDefault(); if (confirm('Are you sure you want to proceed?')) { setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/logout'; }, 100); }">Log Out</a></li>
          </ul>
        </li>

        <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/login" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/login'; }, 100);">Log In</a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
