<section id="" style="padding-bottom: 50px; background: #e6f0fe">
    <div class="events-heading">
      <h2 id="videos-heading" class="">Ven a Conocer el Staff Pastoral!</h2>
    </div>
  
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-4 col-md-6 text-center mb-4">
          <%= image_tag 'avatars/john-ryan-avatar.png', class: "rounded-circle", alt:"Image of John Ryan", width:"150px"%>
          <h5 class="profile-pic">John Ryan</h5>
          <h6>Business & Facility Manager</h6>
          <h6><a href="mailto:johnr@stkilian.com" style="text-decoration: none;">Send Email</a></h6>
        </div>
  
        <div class="col-lg-4 col-md-6 text-center mb-4">
          <%= image_tag 'avatars/pastor-avatar.png', class: "rounded-circle",
          alt:"", width:"150px"%>
          <h5 class="profile-pic">Monsignor Mark Rowen</h5>
          <h6>Pastor de la Parroquia St.Kilian</h6>
          <h6><a href="mailto:pastor@stkilian.com" style="text-decoration: none;">Send Email</a></h6>
        </div>
  
        <div class="col-lg-4 col-md-6 text-center mb-4">
          <%= image_tag 'profileExample.jpg', class: "rounded-circle",
          alt:"", width:"150px"%>
          <h5 class="profile-pic">Mrs. Christina Dunbar</h5>
          <h6>Bookkeeper & Safe Environment Coordinador</h6>
          <h6><a href="mailto:christinad@stkilian.com" style="text-decoration: none;">Send Email</a></h6>
        </div>
  
        <div class="col-lg-4 col-md-6 text-center mb-4">
          <%= image_tag 'avatars/jeana-lewis-avatar.png', class: "rounded-circle",
          alt:"", width:"150px"%>
          <h5 class="profile-pic">Mrs. Jeana Lewis</h5>
          <h6>Outreach Director & Bulletins</h6>
          <h6><a href="mailto:jeanal@stkilian.com" style="text-decoration: none;">Send Email</a></h6>
        </div>
  
        <div class="col-lg-4 col-md-6 text-center mb-4">
          <%= image_tag 'profileExample.jpg', class: "rounded-circle",
          alt:"", width:"150px"%>
          <h5 class="profile-pic">Mrs. Jennifer Miller</h5>
          <h6>Parish Secretary</h6>
          <h6><a href="jenniferm@stkilian.com" style="text-decoration: none;">Send Email</a></h6>
        </div>
  
        <div class="col-lg-4 col-md-6 text-center mb-4">
          <%= image_tag 'profileExample.jpg', class: "rounded-circle",
          alt:"", width:"150px"%>
          <h5 class="profile-pic">Mrs. Jane Zollo</h5>
          <h6>Stewardship Director & Website</h6>
          <h6><a href="janezr@stkilian.com" style="text-decoration: none;">Send Email</a></h6>
        </div>
      </div>
    </div>
  </section>
  