<section id="" style="padding-bottom: 50px; background: #e6f0fe">
  <div style="width: 50%; margin: 0px auto; padding: 20px; text-align: center">
    <h2 id="videos-heading" class="">Meet our Team!</h2>
  </div>

  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-4 col-md-6 text-center mb-4">
        <%= image_tag 'profile/marleny.png', class: "rounded-circle", alt:"marleny", width:"150px"%>
        <h5 class="profile-pic">Marleny H.</h5>
        <h6>Coordinadora del Ministerio</h6>
      </div>

      <div class="col-lg-4 col-md-6 text-center mb-4">
        <%= image_tag 'profile/romulo.png', class: "rounded-circle",
        alt:"Padre Romulo", width:"150px"%>
        <h5 class="profile-pic">Rev. Romulo Gomez</h5>
        <h6>Comunidad Hispana</h6>
      </div>

      <div class="col-lg-4 col-md-6 text-center mb-4">
        <%= image_tag 'profile/jeffrey.jpg', class: "rounded-circle",
        alt:"jeffrey", width:"150px"%>
        <h5 class="profile-pic">Jeffrey M.</h5>
        <h6>Subcoordinador, Software Engineer</h6>
      </div>

      <div class="col-lg-4 col-md-6 text-center mb-4">
        <%= image_tag 'profile/elmer.png', class: "rounded-circle",
        alt:"elmer", width:"150px"%>
        <h5 class="profile-pic">Elmer "Chalillito" M.</h5>
        <h6>Audio Engineer & Innovation</h6>
      </div>

      <div class="col-lg-4 col-md-6 text-center mb-4">
        <%= image_tag 'profile/rosali.png', class: "rounded-circle",
        alt:"rosali", width:"150px"%>
        <h5 class="profile-pic">Rosali "Chalillo" M.</h5>
        <h6>Cable Management</h6>
      </div>

      <div class="col-lg-4 col-md-6 text-center mb-4">
        <%= image_tag 'profile/johnathan.jpg', class: "rounded-circle",
        alt:"johnathan", width:"150px"%>
        <h5 class="profile-pic">Johnathan M.</h5>
        <h6>Drummer, Bass, Visuals</h6>
      </div>

      <div class="col-lg-4 col-md-6 text-center mb-4">
        <%= image_tag 'profile/jorge.png', class: "rounded-circle",
        alt:"jorge", width:"150px"%>
        <h5 class="profile-pic">Jorge V.</h5>
        <h6>Singer</h6>
      </div>

      <div class="col-lg-4 col-md-6 text-center mb-4">
        <%= image_tag 'profile/fermina.png', class: "rounded-circle",
        alt:"fermina", width:"150px"%>
        <h5 class="profile-pic">Fermina R.</h5>
        <h6>Singer</h6>
      </div>

      

    </div>
  </div>
</section>
