
  <section class="seguidor-partial">
    <div class="container">
      <div class="row">
        <h2 style="text-align: center; padding-bottom: 25px; font-weight: 700;"><%= t('seguidor.question') %></h2>
        <p style="text-align: center; padding-bottom: 25px;"><%= t('seguidor.subques') %></p>
        <div class="col-md-6">
          <ul>
            <li class="list-item">
              <h4><%= t('seguidor.q1') %></h4>
              <%= t('seguidor.v1').html_safe %>
              <div class="reflection">
                <p><%= t('seguidor.p1') %></p>
              </div>
            </li>
            <li class="list-item">
              <h4><%= t('seguidor.q2') %></h4>
              <%= t('seguidor.v2').html_safe %>
              <div class="reflection">
                <p><%= t('seguidor.p2') %></p>
              </div>
            </li>
            <li class="list-item">
              <h4><%= t('seguidor.q3') %></h4>
              <%= t('seguidor.v3').html_safe %>
              <div class="reflection">
                <p><%= t('seguidor.p3') %></p>
              </div>
            </li>
            <li class="list-item">
              <h4><%= t('seguidor.q4') %></h4>
              <%= t('seguidor.v4').html_safe %>
              <div class="reflection">
                <p><%= t('seguidor.p4') %></p>
              </div>
            </li>
            <li class="list-item">
              <h4><%= t('seguidor.q5') %></h4>
              <%= t('seguidor.v5').html_safe %>
              <div class="reflection">
                <p><%= t('seguidor.p5') %></p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="image-container">
            <img src="https://seguidoresdejesus.s3.amazonaws.com/jesus.png" alt="Imagen de Jesús" />
          </div>
        </div>
      </div>
    </div>
  </section>
  