<div class="container-fluid newCourseForm">
  <h3 class="welcomeBack" style="text-align: center;">Actualizar Su Cuenta</h3>
  <%= form_for @current_user do |f| %>

  <div class="mb-3" style="text-align: center;">
      <% if @current_user.avatar.attached? %>
        <%= image_tag(@current_user.avatar, width: '200px', class: 'rounded-circle topPic') %>
      <% end %>
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Update Profile Picture</label>
    <%= f.file_field :avatar, class: "form-control Input" %>
  </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"><%= t('signup-first') %></label>
      <%= f.text_field :first_name, class: "form-control Input" %>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"><%= t('signup-last') %></label>
      <%= f.text_field :last_name, class: "form-control Input" %>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"><%= t('signup-username') %></label>
      <%= f.text_field :username, class: "form-control Input" %>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <%= f.text_field :email, class: "form-control Input" %>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"><%= t('signup-password') %></label>
      <%= f.password_field :password, class: "form-control Input" %>
    </div>

    <%= f.hidden_field :admin_code, value: @current_user.admin_code %>

    <%= f.submit 'Actualizar Cuenta', class: "btn btn-primary" %>
    <%= link_to "Borrar Cuenta", user_path(@current_user), method: :delete, data: { confirm: "Are you sure you want to delete your account?" }, class: "btn btn-danger" %>

  <% end %>
</div>
