




<!-- <header class="App-header"> -->
  <div class="card" id="header">
    <%= image_tag "group.png", id: "first-image"%> <%= image_tag "elmer.png",
    id: "second-image"%> <%= image_tag "fermina.png", id: "third-image"%> <%=
    image_tag "john.png", id: "fourth-image"%> <%= image_tag "jeffrey.png", id:
    "fifth-image"%> <%= image_tag "joseph.png", id: "sixth-image"%>

    <div class="card-body" id="header-body">
      <h5 class="card-title text-center" id="header-welcome">Bienvenidos</h5>
      <p class="card-text text-center" id="header-group">Seguidores de Jesus</p>
    </div>
  </div>
<!-- </header> -->
