<div class="container-fluid newCourseForm" style="text-align: center;">
  <h2 class="welcomeBack" style="text-align: center;">Welcome to Your Profile!</h2>
  <h1 class="welcomeBack" style="text-align: center;"><%=@current_user.first_name%> <%=@current_user.last_name%></h1>


  <div class="mb-3" style="text-align: center;">
      <% if @current_user.avatar.attached? %>
        <%= image_tag(@current_user.avatar, width: '200px', class: 'rounded-circle topPic') %>
      <% end %>
  </div>


    <div class="mb-3">
      <h3>Usuario:  <%= @current_user.username %></h3>
    </div>

    <div class="mb-3">
      <h3>Correo Electronico:  <%= @current_user.email %></h3>
    </div>

    <a href="<%= edit_user_path(@current_user) %>" class="btn btn-primary" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/users/<%=@current_user.id%>/edit'; }, 100);">Editar Cuenta</a>
    <%= link_to "Borrar Cuenta", user_path(@current_user), method: :delete, data: { confirm: "Are you sure you want to delete your account?" }, class: "btn btn-danger" %>


</div>
