<section id="events">
    <div class="events-heading">
      <h2 id="videos-heading" class="text-white">Ven Y Goza Con Nosotros</h2>
      <% if current_user %>
      <%= link_to 'Add New Video', new_video_path, class: "btn btn-primary"%>
      <% end %>
    </div>


    



  
  <div id="videos-section">
  
      
    <% if !@videos.blank? %>

    <%= form_tag videos_path, method: :get, id: 'search-form' do %>
  <div class="row">
    <div class="col-md-11">
      <%= text_field_tag :search, params[:search], placeholder: 'Search videos', class: "form-control" %>
    </div>
    <div class="col-md-1">
      <%= submit_tag 'Search', class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>
  
    <div class="row">
      <% @videos.map do |video| %>
      <div class="col-xl-4 col-lg-6" >
        <div id="video">
          <h4 class="text-white text-center"><%= video.name %></h4>
          <iframe
            src="<%= video.link_to_video %>"
            allowFullScreen
            title="<%= video.name %>"
          ></iframe>
          <figcaption class="text-white">

            <% if current_user %>
            <%= link_to 'Delete Video', video_path(video), method: :delete, data: { confirm: 'Are you sure you want to delete the video?' }, class: "text-white delete-video" %>
            <%= link_to "Editar Video", edit_video_path(video), class: "text-white delete-video" %>
            <% end %>
            <%= video.date_created.strftime("%B %d, %Y") %>
        
          </figcaption>
        </div>
      </div>
      <% end %>


      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <% if params[:page].to_i > 1 %>
            <li class="page-item">
              <%= link_to 'Previous', videos_path(page: params[:page].to_i - 1), class: 'btn btn-primary' %>
            </li>
          <% end %>
      
          <% if params[:page].to_i < @total_pages %>
            <li class="page-item">
              <%= link_to 'Next', videos_path(page: params[:page].to_i + 1), class: 'btn btn-primary' %>
            </li>
          <% end %>
        </ul>
      </nav>


    </div>
  
    <% else %>
  
    <div class="events-heading">
      <h2 id="videos-heading" class="text-white">No hay videos en este momento</h2>
    </div>
  
    <% end %>
  </div>


  

  </section>
  <%= render "/partials/invitamos"%>
