<section id="events">
    <div style="width: 50%; margin: 0px auto; padding: 20px; text-align: center;">
      <h2 id="videos-heading" class="text-white">Ven Y Goza Con Nosotros</h2>
      <% if current_user %>
      <%= link_to 'Add New Video', new_video_path, class: "btn btn-primary"%>
      <% end %>
    </div>
  
  <div id="videos-section">
  
      
    <% if !@videos.blank? %>
  
    <div class="row">
      <% @videos.map do |video| %>
      <div class="col-xl-4 col-lg-6" >
        <div id="video">
          <h3 class="text-white"><%= video.name %></h3>
          <iframe
            src="<%= video.link_to_video %>"
            allowFullScreen
            title="<%= video.name %>"
          ></iframe>
          <figcaption class="text-white">

            <% if current_user %>
            <%= link_to 'Delete Video', video_path(video), method: :delete, data: { confirm: 'Are you sure you want to delete the video?' }, class: "text-white delete-video" %>
            <%= link_to "Editar Video", edit_video_path(video), class: "text-white delete-video" %>
            <% end %>
            <%= video.date_created.strftime("%B %d, %Y") %>
        
          </figcaption>
        </div>
      </div>
      <% end %>
    </div>
  
    <% else %>
  
    <div style="width: 50%; margin: 0px auto; padding: 20px; text-align: center;">
      <h2 id="videos-heading" class="text-white">No hay videos en este momento</h2>
  </div>
  
    <% end %>
  </div>
  </section>