<section id="events">

  <div style="width: 50%; margin: 0px auto; padding: 20px; text-align: center;">
    <h2 id="videos-heading" class="text-white">Ven Y Goza Con Nosotros</h2>
    <% if current_user %>
    <%= link_to 'Add New Video', videos_new_path, class: "btn btn-primary"%>
    <% end %>
  </div>

<div id="videos-section">

    
  <% if !@videos.blank? %>

  <div class="row">
    <% @videos.map do |video| %>
    <div class="col-lg-6">
      <div id="video">
        <h3 class="text-white"><%= video.name %></h3>
        <iframe
          src="<%= video.link_to_video %>"
          allowFullScreen
          title="<%= video.name %>"
        ></iframe>
        <figcaption class="text-white"><%= video.date_created %></figcaption>
      </div>
    </div>
    <% end %>
  </div>

  <% else %>

  <div style="width: 50%; margin: 0px auto; padding: 20px; text-align: center;">
    <h2 id="videos-heading" class="text-white">No hay videos en este momento</h2>
</div>

  <% end %>
</div>
</section>