<section id="events" style="padding-bottom:50px;">
<div style="width: 50%; margin: 0px auto; padding: 20px; text-align: center;">
    <h2 id="videos-heading" class="text-white">Todos Nuestros Eventos</h2>
</div>

<% @events.each do |event| %>
<div class="card" style="width: 800px; margin:20px auto;">
    <%= image_tag "assamblea.jpg", class: "card-img-top", width: "100", alt: "" %>
    <div class="card-body">
        <h2><strong><%=event.event_name%></strong>, <span><%=event.event_date%></span></h2>
        <h5 class="card-title">Location: <%=event.location%></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><%=event.address%>, <%=event.city%> <%=event.zip%>, Phone: <%=event.phone_number%></h6>
        <p class="card-text"><%=event.description[0..100]%>... </p>
        <%= button_to "More Information", event_path(event), class: "login-button", method: :get %>
    </div>
  </div>
<% end %>
</section>


