<section id="events" style="padding-bottom:50px;">
<div style="width: 50%; margin: 0px auto; padding: 20px; text-align: center;">
    <h2 id="videos-heading" class="text-white">Todos Nuestros Eventos</h2>
    <% if current_user %>
    <%= link_to 'Add New Event', new_event_path, class: "btn btn-primary"%>
    <% end %>
</div>


<% if !@events.blank? %>
<% @events.each do |event| %>
<div class="card" style="width: 800px; margin:20px auto;">
    <%= image_tag event.image, class: "card-img-top", width: "100", alt: "" %>
    <div class="card-body">
        <h2><strong><%=event.event_name%></strong>, <span><%=event.event_date.strftime("%B %d, %Y")%></span></h2>
        <h5 class="card-title">Location: <%=event.location%></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Hora: <%= event.event_start_time.strftime("%I:%M %p")%> - <%= event.event_end_time.strftime("%I:%M %p") %></h6>
        <h6 class="card-subtitle mb-2 text-body-secondary"><%=event.address%>, <%=event.city%> <%=event.zip%>, Phone: <%=event.phone_number%></h6>
        <p class="card-text"><%=event.description[0..100]%>... </p>
        <%= button_to "More Information", event_path(event), class: "login-button btn btn-primary", method: :get %>
    </div>
  </div>
<% end %>
<% else %>
<div style="width: 50%; margin: 0px auto; padding: 20px; text-align: center;">
    <h2 id="videos-heading" class="text-white">No hay eventos en este momento</h2>
</div>
<% end %>
</section>

    <%= render "/partials/invitamos"%>


