<section id="events">
<div class="events-heading">
    <h2 id="videos-heading" class="text-white"><%= t('todos-eventos') %></h2>
    <% if current_user %>
    <%= link_to 'Add New Event', new_event_path, class: "btn btn-primary"%>
    <% end %>
</div>


<% if !@events.blank? %>

<%= form_tag events_path, method: :get, id: 'search-form' do %>
  <div class="row">
    <div class="col-md-11">
      <%= text_field_tag :search, params[:search], placeholder: 'Search Events', class: "form-control" %>
    </div>
    <div class="col-md-1">
      <%= submit_tag 'Search', class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>

<% @events.each do |event| %>
<div class="card text-center" id="ind-card-for-event">
    <%= image_tag event.image, class: "card-img-top", width: "100", alt: "" %>
    <div class="card-body">
        <h3><%=event.event_name%></h3>
        <h4><%=event.event_date.strftime("%A, %B %d, %Y")%></h4>
        <h6 class="card-text"><%= event.event_start_time.strftime("%I:%M %p")%> - <%= event.event_end_time.strftime("%I:%M %p") %></h6>
        <h6 class="card-text">(<%=event.location%>) <%=event.address%>, <%=event.city%> <%=event.zip%>, Phone: <%=event.phone_number%></h6>
        <p class="card-text"><%=event.description[0..100]%>... </p>
        <%= button_to "Mas Informacion", event_path(event), class: "login-button btn btn-primary", method: :get %>
    </div>
  </div>
<% end %>
<% else %>
<div class="events-heading">
    <h2 id="videos-heading" class="text-white"><%= t('no-hay-eventos') %></h2>
</div>
<% end %>
</section>

    <%= render "/partials/invitamos"%>


