<section id="events" style="padding-bottom:50px;">
<div style="width: 50%; margin: 0px auto; padding: 20px; text-align: center;">
    <h2 class="text-white"><%=@event.event_name%></h2>
</div>
<div class="card" style="width: 800px; margin:20px auto;">
    <%= image_tag "assamblea.jpg", class: "card-img-top", width: "100", alt: "" %>
    <div class="card-body">
        <h5 class="card-title"><%=@event.event_date%>, Place: <%=@event.location%></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><%=@event.address%>, <%=@event.city%> <%=@event.zip%>, Phone: <%=@event.phone_number%></h6>
        <p class="card-text"><%=@event.description%></p>


        <% if current_user %>
            <a href="#" class="card-link">Edit Event</a>
            <a href="#" class="card-link">Delete Event</a>
        <% end %>

    </div>
  </div>
  </section>