<section id="events" style="padding-bottom:50px;">
<div style="width: 50%; margin: 0px auto; padding: 20px; text-align: center;">
    <h2 id="videos-heading" class="text-white"><%=@event.event_name%></h2>
</div>
<div class="card" style="width: 800px; margin:20px auto;">
    <%= image_tag @event.image, class: "card-img-top", width: "100", alt: "" %>
    <div class="card-body">
        <h5 class="card-title"><%=@event.event_date%>, Place: <%=@event.location%>, Hora: <%=@event.event_start_time%> - <%=@event.event_end_time%></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><%=@event.address%>, <%=@event.city%> <%=@event.zip%>, Phone: <%=@event.phone_number%></h6>
        <p class="card-text"><%=@event.description%></p>


        <% if current_user %>
            <a href="#" class="card-link">Edit Event</a>
            <%= link_to 'Delete Event', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>

    </div>
  </div>
  </section>

  <%= render "/partials/carousel"%>
