<section id="about-author" class="bg-light py-5">
  <h2 class="text-center h2Virtus">
    <%= t('h2Virtus-title') %>
  </h2>

  <div class="container text-center">
    <div class="row">
      <div class="col-md-4 virtusLogoDiv">
        <%= image_tag 'virtus/virtusLogo.png', class: "virtusLogo", alt:"virtusLogo"%>
      </div>
      <div class="col-md-8 p-4 virtusContext">
        <h2><%= t('h2Virtus-subtitle') %></h2>
        <p>
          <%= t('virtus-content-p1') %>
        </p>
        <p>
          <%= t('virtus-content-p2') %>
        </p>
        <p>
          <%= t('virtus-content-p3').html_safe %>
        </p>
        <p>
          <%= t('virtus-content-p4') %>
        </p>
        <p style="font-weight: 600; font-style: italic">
          <%= t('virtus-content-p5').html_safe %>
        </p>

        <%= t('instructions-context').html_safe %>
        <br><br>
        <% if @document %>
        <div class="virtus" id="">
          <% if current_user %> 
          <%= link_to t('delete-current-bulletin'), virtu_path(@document), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger m-2' %> 
          <% end %> 
          <%= link_to t('click-aqui-bulletin-del-mes'), rails_blob_path(@document.file), target: '_blank', class: 'btn btn-primary m-2' %>
        </div>
        <% else %>
        <div class="videos-heading text-center">
          <h2 id="videos-heading" class="">
           <%= t('bulletin-no-disponible') %>
          </h2>
          <% if current_user %> 
          <%= link_to t('nuevo-bulletin'), new_virtu_path, class: 'btn btn-primary m-2' %> <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
