

<style>
  .yellow-bg {
    background-color: #fff9e6;
    padding: 40px;
  }
</style>


<div class="jumbotron text-center aboutParish">
  <h1 class="display-4"><%= t('parish.header').html_safe %></h1>
  <p class="lead"><%= t('parish.subheading') %></p>
  <a href="/stkilian-new-member" class="btn btn-primary btn-lg" onclick="event.preventDefault(); setTimeout(function() { location.reload(true); }, 100); setTimeout(function() { window.location.href = '/stkilian-new-member'; }, 100);"><%= t('parish.register') %></a>
</div>


<section class="yellow-bg text-center">
  <img src="https://seguidoresdejesus.s3.amazonaws.com/stkilianglasswitharc.gif" alt="St. Kilian Parish" class="img-fluid">
  <div class="container mt-4">
    <h2><%= t('parish.section1.heading') %></h2>
    <p class="lead"><%= t('parish.section1.plead') %></p>
    <p><%= t('parish.section1.p1').html_safe %></p>
    <p><%= t('parish.section1.p2') %></p>
  </div>
</section>


<%= render "/partials/aboutPastor"%>
<%= render "/partials/pastoral_staff"%>
<%= render "/partials/invitamos"%>
