<div class="mainDiv">
  <div class="media seguidores-about">
    <div class="media-body">
      
      <div class="cVHeading">
        <h6 class="investPeople"><%= t('sdj-about-heading-values') %></h6>
        <h3><%= t('sdj-about-heading').html_safe %></h3>
        <p>
          <%= t('sdj-about-context') %>
        </p>
      </div>

      <div class="cVInfo float-child">

        <h4><%= t('sdj-about-value1') %></h4>
        <p>
          <%= t('sdj-about-p1') %>
        </p>

        <h4><%= t('sdj-about-value2') %></h4>
        <p>
          <%= t('sdj-about-p2') %>
        </p>

        <h4><%= t('sdj-about-value3') %></h4>
        <p>
          <%= t('sdj-about-p3') %>
        </p>
      </div>



      


      <div class="float-child second-jovenes-div">
        <span class="media-left">
          <iframe
            width="500"
            height="315"
            src="https://www.youtube.com/embed/mZF9ZkHE80U"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </span>
      </div>


    </div>
  </div>
</div>




<%= render "/partials/que_es_seguidor"%>
<%= render "/partials/placeholder" %>
<%= render "/partials/features"%>
<%= render "/partials/carousel"%>
<%= render "/partials/invitamos"%>




