<div class="mainDiv">
  <div class="media">
    <div class="media-body">
      
      <div class="cVHeading">
        <h6 class="investPeople">NUESTROS VALORES</h6>
        <h3>Seguidores De <span class="highlight">Jesus</span></h3>
        <p>
          Pablo era un hombre activo en la persecución a la Iglesia y a los cristianos, pero debido al poder del cielo y a la expiación de Jesucristo, cambió por completo y llegó a ser uno de los grandes siervos de Dios. Su modelo de vida fue el Salvador Jesucristo. Ser un seguidor de Cristo implica esforzarse por adaptar nuestras acciones, conducta y vida a las del Salvador. Es adquirir virtudes; es ser un verdadero discípulo de Jesucristo.
        </p>
      </div>

      <div class="cVInfo float-child">

        <h4>Humildad</h4>
        <p>Jesucristo fue muy humilde desde la vida preterrenal. En el Concilio de los Cielos, Él reconoció la voluntad de Dios y permitió que esta prevaleciera en el Plan de Salvación para la humanidad. Él dijo: “Padre, hágase tu voluntad, y sea tuya la gloria para siempre” (Moises 4:2)</p>

        <h4>Valor</h4>
        <p>
          Tengamos el valor de hacer lo correcto, aunque no sea popular; el valor para defender nuestra fe y actuar con fe. Tengamos el valor de arrepentirnos a diario, el valor para aceptar la voluntad de Dios y obedecer Sus mandamientos. Tengamos el valor de vivir en rectitud y de hacer lo que se espera de nosotros en nuestras diversas responsabilidades y cargos.
        </p>

        <h4>Perdon</h4>
        <p>
          Perdonémonos sinceramente el uno al otro para obtener el perdón del Padre. El perdón nos hace libres y dignos de participar de la Santa Cena cada domingo. Se requiere que perdonemos para que seamos verdaderos discípulos de Jesucristo.
        </p>
      </div>



      


      <div class="float-child valueImg">
        <span class="media-left">
          <iframe
            width="500"
            height="315"
            src="https://www.youtube.com/embed/mZF9ZkHE80U"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </span>
      </div>


    </div>
  </div>
</div>



<%= render "/partials/placeholder" %>




<section id="features">
  <div class="feature">
    <div>
      <h6 class="investPeople">VEN A COMPARTIR CON NOSOTROS.</h6>
      <h2 class="betterEducation">Nuestro Trabajo Es Para <span class="highlight">DIOS.</span></h2>
      <!-- <p class="featureSubtitle">We're transforming traditional tuition reimbursement programs into a strategic investment by increasing employee recruitment, retention, upskilling, and brand equity.</p> -->
    </div>
    <div class="row featuresTogether featTogeth">
      
      <div class="feature-box col-lg-4">
        <!-- <h3 class="featureTitle">4/5</h3> -->
        <%= image_tag 'innovation/teen', class: "innovation-image", alt:"teen", width:"180px"%>
        <h4 class="feature-title">Espiritu Juvenil</h4>
        <!-- <p>4 in 5 employees want better benefits over a pay raise.</p> -->
      </div>
      <div class="feature-box col-lg-4">
        <!-- <h3 class="featureTitle">284%</h3> -->
        <%= image_tag 'innovation/light', class: "innovation-image", alt:"lightbulb", width:"150px"%>
        <h4 class="feature-title">Traer innovación</h4>
        <!-- <p>Return on investment of $2.84 for every $1 spent on education.</p> -->
      </div>
      <div class="feature-box col-lg-4">
        <!-- <h3 class="featureTitle">54%</h3> -->
        <%= image_tag 'innovation/team', class: "innovation-image", alt:"team", width:"150px"%>
        <h4 class="feature-title">Collaborar en Equipo</h4>
        <!-- <p>Percentage of workers who will need retraining or reskilling by 2022.</p> -->
      </div>
    </div>
  </div>
</section>



<%= render "/partials/carousel"%>
<%= render "/partials/invitamos"%>