
<div class="jumbotron jovenesJumbotron">
  <div class="container">
    <h1><%=t('joven-heading')%></h1>
    <h2><%=t('joven-heading-h2')%></h2>
    <p><%=t('joven-context-full')%></p>
    <a href="#angeles-de-dios" class="btn btn-primary btn-lg"><%=t('button-aprender-mas')%></a>
  </div>
</div>

<section class="angel-section" id="angeles-de-dios">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mb-4"><%= t('que-significa').html_safe %></h2>
          <p class="lead"><%=t('joven-p1')%></p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12">
          <div class="video-container">
            <!-- Replace the 'your_video_url_here' with the actual URL of your video -->
            <%= image_tag 'jovenes/angeles2.jpg', class: 'jovenes-image'%>
            <!-- <iframe width="560" height="315" src="your_video_url_here" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12">
          <p class="lead"><%=t('joven-p2')%></p>
          <!-- Add a call-to-action button or any other content here to engage the audience further -->
        </div>
      </div>
    </div>
  </section>


<%= render "/partials/features"%>

 <!-- Assuming this content belongs to the 'aboutJovenes' section -->
<section id="aboutJovenes">
  <div class="container">
    <div class="section">
      <h2 class="section-heading aboutJovenesHeading"><%= t('aboutJovenes.aboutJovenesHeading') %></h2>
      <p class="section-content aboutJovenesContent"><%= t('aboutJovenes.aboutJovenesContent') %></p>
      <ul class="section-content aboutJovenesContent">
        <% t('aboutJovenes.reasons').each do |reason| %>
          <li><%= reason.html_safe %></li>
        <% end %>
      </ul>
    </div>

<!-- Assuming this content belongs to the 'importanceOfKnowingGod' section -->

    <div class="section">
      <h2 class="section-heading aboutJovenesHeading"><%= t('importanceOfKnowingGod.importanceOfKnowingGodHeading') %></h2>
      <p class="section-content aboutJovenesContent"><%= t('importanceOfKnowingGod.importanceOfKnowingGodContent') %></p>
      <ul class="section-content aboutJovenesContent">
        <% t('importanceOfKnowingGod.points').each do |point| %>
          <li><%= point.html_safe %></li>
        <% end %>
      </ul>
    </div>
  </div>
</section>

<%= render "/partials/invitamos"%>

