

<div class="jumbotron bishopHeading">
  <div class="backgroundOverlay"></div>
  <img
    src="https://cki.wsu.mybluehost.me/BishopBarres/wp-content/uploads/2021/03/Screen-Shot-2017-11-03-at-11.58.45-PM.png"
    id="imgBishop"
  />

  <div class="container">
    <h1>Most Reverend</h1>
    <h1><%= t('bishop.name') %></h1>
    <p>S.T.D., J.C.L., D.D.</p>
    <p><%= t('bishop.subtitle') %></p>
    <img
      src="https://cki.wsu.mybluehost.me/BishopBarres/wp-content/uploads/2021/03/1280px-Coat_of_arms_of_John_Oliver_Barres_Rockville_Centre-1.svg_.png"
      width="100px"
    />
  </div>
</div>

<section class="container my-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-center mb-4"><%= t('bishop.bishop-name') %></h2>
      <div class="row paragraphBishop">
        <div class="col-lg-12 text-center portraitBishop">
            <%= image_tag 'profile/bishopbarres.jpg', width: '200px', class: 'rounded-circle' %>
        </div>
        <div class="col-md-3">
          <img
            src="https://cki.wsu.mybluehost.me/BishopBarres/wp-content/uploads/2021/03/1280px-Coat_of_arms_of_John_Oliver_Barres_Rockville_Centre-1.svg_.png"
            alt="Image"
            class="img-fluid holinessImage"
          />
        </div>
        <div class="col-md-9">
          <p>
            <%= t('bishop.p1') %>
          </p>
        </div>
      </div>

      <div id="readMore" style="display: none" class="paragraphBishop">
        <p>
          <%= t('bishop.p3') %>
        </p>
        <p>
          <%= t('bishop.p4') %>
        </p>
        <p>
          <%= t('bishop.p5') %>
        </p>
        <p>
          <%= t('bishop.p6') %>
        </p>
        <p>
          <%= t('bishop.p7') %>
        </p>
        <p>
          <%= t('bishop.p8') %>
        </p>
        <p>
          <%= t('bishop.p9') %>
        </p>
        <p>
          <%= t('bishop.p10') %>
        </p>
        <p>
          <%= t('bishop.p11') %>
        </p>
        <p>
          <%= t('bishop.p12') %>
        </p>
        <p>
          <%= t('bishop.p13') %>
        </p>
        <p>
          <%= t('bishop.p14') %>
        </p>
        <p>
          <%= t('bishop.p15') %>
        </p>
        <p>
          <%= t('bishop.p16') %>
        </p>
        <p>
          <%= t('bishop.p17') %>
        </p>
        <p>
          <%= t('bishop.p18') %>
        </p>
        <p>
          <%= t('bishop.p19') %>
        </p>
        <p>
          <%= t('bishop.p20') %>
        </p>
        <p>
          <%= t('bishop.p21') %>
        </p>
        <p>
          <%= t('bishop.p22') %>
        </p>
        <p>
          <%= t('bishop.p23') %>
        </p>
        <p>
          <%= t('bishop.p24') %>
        </p>
        <p>
          <%= t('bishop.p25') %>
        </p>
        <p>
          <%= t('bishop.p26') %>
        </p>
        <p>
          <%= t('bishop.p27') %>
        </p>
        <p>
          <%= t('bishop.p28') %>
        </p>
        <p>
          <%= t('bishop.p29') %>
        </p>
        <p>
          <%= t('bishop.p30') %>
        </p>
        <p>
          <%= t('bishop.p31') %>
        </p>
         <p>
          <%= t('bishop.p32') %>
        </p>

        <h3><%= t('bishop.h3') %></h3>

        <p>
          <%= t('bishop.p34') %>
        </p>
        <p>
          <%= t('bishop.p35') %>
        </p>
        <p>
          <%= t('bishop.p36') %>
        </p>
        <p>
          <%= t('bishop.p37') %>
        </p>
        <p>
          <%= t('bishop.p38') %>
        </p>
        <p>
          <%= t('bishop.p39') %>
        </p>
        <p>
          <%= t('bishop.p40') %>
        </p>
      </div>

      <p class="text-center">
        <a
          id="readMoreBishop"
          class="btn btn-primary"
          href="javascript:void(0);"
          onclick="toggleReadMore();"
          role="button"
          >Read More</a
        >
      </p>
    </div>
  </div>
</section>

<%= render "/partials/invitamos"%>

<script>
  function toggleReadMore() {
    var readMoreDiv = document.getElementById("readMore");
    var readMoreBishop = document.getElementById("readMoreBishop");
    console.log(readMoreBishop.innerText);

    if (readMoreDiv.style.display === "none") {
      readMoreDiv.style.display = "block";
      readMoreBishop.innerText = "Show Less";
    } else {
      readMoreDiv.style.display = "none";
      readMoreBishop.innerText = "Read More";
    }
  }
</script>
