<section class="grupoGuadaPage">
    <div class="jumbotron text-center guadalupano">
      <div class="container">
      <h1 class=""><%= t('guadaPage.header1') %></h1>
      <h2><%= t('guadaPage.header2') %></h2>
      <p class="lead"><%= t('guadaPage.p1') %></p>
      <a href="#familiarSection2" class="btn btn-primary btn-lg">Aprender Más</a>
      </div>
  </div>

<div class="guadSection2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 history-text">
          <h2 class="section-title" style="color: #343a40;"><%= t('guadaPage.historyHeading') %></h2>
          <p>
            <%= t('guadaPage.p2') %>
          </p>
          <p>
            <%= t('guadaPage.p3') %>
          </p>
          <p>
            <%= t('guadaPage.p4') %>
          </p>
        </div>
        <div class="col-md-6 imgGuadalupana align-items-center">
          <img src="https://seguidoresdejesus.s3.amazonaws.com/guadalupana.png" alt="Imagen de Nuestra Señora de Guadalupe" class="img-fluid">
        </div>
      </div>
    </div>
</div>

<div class="guadSection3"></div>

<div class="guadSection4">
  <div class="container">
      <div class="jumbotron text-center">
          <h1 class="display-4"><%= t('guadaPage.invite.heading1') %></h1>
          <p class="lead"><%= t('guadaPage.invite.p1') %></p>
          <hr class="my-4">
          <p><%= t('guadaPage.invite.p2').html_safe %></p>
          <p><%= t('guadaPage.invite.p3').html_safe %></p>
          <p><%= t('guadaPage.invite.p4').html_safe %></p>
          <p><%= t('guadaPage.invite.p5') %></p>
      </div>
  </div>
</div>

<div class="guadSection5"></div>
</section>

<%= render "/partials/invitamos"%>

<style>



</style>