



<header class="App-header">
  <div class="card" id="header">
    <%= image_tag "group.jpg", id: "first-image"%> <%= image_tag "elmer.jpg",
    id: "second-image"%> <%= image_tag "fermina.jpg", id: "third-image"%> <%=
    image_tag "john.jpg", id: "fourth-image"%> <%= image_tag "jeffrey.jpg", id:
    "fifth-image"%> <%= image_tag "joseph.jpg", id: "sixth-image"%>

    <div class="card-body" id="header-body">
      <p class="card-text text-center" id="header-group-two">30 AÑOS</p>
      <h5 class="card-title text-center" id="header-welcome">Bienvenidos</h5>
      <p class="card-text text-center" id="header-group">Seguidores de Jesus</p>
    </div>
  </div>
</header>


<!-- Carousel items with bible verses -->
<section>

  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 8"></button>
    </div>

    


    <div class="carousel-inner">

      <div class="carousel-item active">
        <img src="..." class="d-block w-25" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Llámame y te responderé; te mostraré cosas grandes y secretas que tú ignoras.</h5>
          <p>Jeremias 33, Versiculo 3</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="..." class="d-block w-25" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>También sabemos que Dios dispone todas las cosas para bien de los que lo aman, a quienes él ha escogido y llamado. A los que de antemano conoció, también los predestinó a ser imagen y semejanza de su Hijo, a fin de que sea el primogénito en medio de numerosos hermanos. Así, pues, a los que él eligió los llamó; a los que llamó los hizo justos y santos; a los que hizo justos y santos les da la Gloria.</h5>
          <p>Romanos 8, Versiculo 28-31</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="..." class="d-block w-25" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Pongan la cara hacia arriba y miren: ¿Quién ha creado todos esos astros? El, él mismo, que hace salir en orden su ejército, y que llama a cada estrella por su nombre. Su fuerza es tan grande y su poder tan inmenso, que ninguna se hace la desentendida.</h5>
          <p>Isaias 40, Versiulo 26</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="..." class="d-block w-25" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Sin embargo, alégrense no porque los espíritus se someten a ustedes, sino más bien porque sus nombres están escritos en los cielos.</h5>
          <p>San Lucas 10, Versiculo 20</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="..." class="d-block w-25" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5> “Alégrense conmigo, porque hallé la moneda que se me había perdido”. De igual manera, yo se lo digo, hay alegría entre los ángeles de Dios por un solo pecador que se convierte.</h5>
          <p>San Lucas 15, Versiculo 9 - 10</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="..." class="d-block w-25" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Estén siempre alegres en el Señor; se lo repito, estén alegres y tengan buen trato con todos. El Señor está cerca. No se inquieten por nada; antes bien, en toda ocasión presenten sus peticiones a Dios y junten la acción de gracias a la súplica. Y la paz de Dios, que es mayor de lo que se puede imaginar, les guardará sus corazones y sus pensamientos en Cristo Jesús.</h5>
          <p>Filipenses 4, Versiculo 4 - 8</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="..." class="d-block w-25" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5> Alégrense con los que están alegres, lloren con los que lloran. Vivan en armonía unos con otros. No busquen grandezas y vayan a lo humilde; no se tengan por sabios</h5>
          <p>Romanos 12, Versiculo 15 - 16</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="..." class="d-block w-25" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Sin embargo, alégrense no porque los espíritus se someten a ustedes, sino más bien porque sus nombres están escritos en los cielos.</h5>
          <p>San Lucas 10, Versiculo 20</p>
        </div>
      </div>







    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

