<section class="daily-word">
  <div class="container all-content">
    <div
      class="events-heading"
    >
      <h2 id="videos-heading" class="text-white">
        <%= t('gospel-of-the-day') %> <span class="evan-date"><%= @current_date%></span>
      </h2>
    </div>

    <div class="evan-body-p">
      <p class="evan-body"><%= @evan_text %></p>
    </div>

    <audio controls>
      <source
        src="<%= @listen %>"
        type="audio/mpeg"
      />
      <!-- https://evangeli.net/_mp3/daily/es/IV_111.mp3 -->
      Your browser does not support the audio element.
    </audio>

    <div
      class="events"
    >
      <h2 id="videos-heading" class="text-white"><%= t('gospel-comments') %></h2>
    </div>

    <div class="evan-body-p">
      <p class="evan-body"><%= @evan_comment %></p>
    </div>
    <div class="autor-p">
      <p class="autor">-<%= @autor_name %></p>
    </div>

    <div style="margin: 0px auto">
      <h2 id="" class="text-white" style="text-align: left"><%= t('gospel-thoughts') %></h2>
    </div>

    <div class="pensamientos-p">
      <p class="pensamientos"><%= @evan_thoughts %></p>
    </div>

  </div>
</section>
