<div class="luzDelMundoSection">
  <div class="jumbotron luzDelMundoJumbo">
    <div class="container">
      <h1><%= t('luzDelMundoSection.luzDelMundoJumbo.welcomeTitle') %></h1>
      <h2><%= t('luzDelMundoSection.luzDelMundoJumbo.luzDelMundoTitle') %></h2>
      <p>
        <%= t('luzDelMundoSection.luzDelMundoJumbo.content') %>
      </p>
      <a href="#quoteDiv" class="btn btn-primary btn-lg"><%= t('luzDelMundoSection.luzDelMundoJumbo.learnMoreButton') %></a>
    </div>
  </div>
</div>

<div class="quoteDiv" id="quoteDiv">
  <div class="quote">
    <h2><%= t('quoteDiv.quote.title', highlight: '<span class="highlight">', highlight_end: '</span>').html_safe %></h2>
    <p><%= t('quoteDiv.quote.scripture') %></p>
    <p><%= t('quoteDiv.quote.content_1') %></p>
    <p><%= t('quoteDiv.quote.content_2') %></p>
  </div>
</div>

  <%= render "/partials/aboutPriest"%>
  
  <div class="pequena-communidad-section">
    <h2 class="text-center" id="h2Pequena"><%= t('pequena-communidad-section.h2Pequena') %></h2>
    
    <!-- Emmanual pequena-comunidad -->
    <div class="pequena-comunidad" id="pequena-comunidad">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h3><%= t('pequena-communidad-section.pequena-comunidad.emmanuel.title') %></h3>
        </div>
        <div class="col-sm-12 col-md-8">
          <h4><%= t('pequena-communidad-section.pequena-comunidad.emmanuel.schedule') %></h4>
          <h5><%= t('pequena-communidad-section.pequena-comunidad.emmanuel.scripture') %></h5>
          <p>
            <%= t('pequena-communidad-section.pequena-comunidad.emmanuel.content') %>
          </p>
        </div>
      </div>
    </div>

        <!-- buen_pastor pequena-comunidad -->
        <div class="pequena-comunidad" id="pequena-comunidad">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <h3><%= t('pequena-communidad-section.pequena-comunidad.buen_pastor.title') %></h3>
            </div>
            <div class="col-sm-12 col-md-8">
              <h4><%= t('pequena-communidad-section.pequena-comunidad.buen_pastor.schedule') %></h4>
              <h5><%= t('pequena-communidad-section.pequena-comunidad.buen_pastor.scripture') %></h5>
              <p>
                <%= t('pequena-communidad-section.pequena-comunidad.buen_pastor.content') %>
              </p>
            </div>
          </div>
        </div>

            <!-- caminando_con_jesus pequena-comunidad -->
    <div class="pequena-comunidad" id="pequena-comunidad">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h3><%= t('pequena-communidad-section.pequena-comunidad.caminando_con_jesus.title') %></h3>
        </div>
        <div class="col-sm-12 col-md-8">
          <h4><%= t('pequena-communidad-section.pequena-comunidad.caminando_con_jesus.schedule') %></h4>
          <h5><%= t('pequena-communidad-section.pequena-comunidad.caminando_con_jesus.scripture') %></h5>
          <p>
            <%= t('pequena-communidad-section.pequena-comunidad.caminando_con_jesus.content') %>
          </p>
        </div>
      </div>
    </div>

        <!-- vida_y_esperanza pequena-comunidad -->
        <div class="pequena-comunidad" id="pequena-comunidad">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <h3><%= t('pequena-communidad-section.pequena-comunidad.vida_y_esperanza.title') %></h3>
            </div>
            <div class="col-sm-12 col-md-8">
              <h4><%= t('pequena-communidad-section.pequena-comunidad.vida_y_esperanza.schedule') %></h4>
              <h5><%= t('pequena-communidad-section.pequena-comunidad.vida_y_esperanza.scripture') %></h5>
              <p>
                <%= t('pequena-communidad-section.pequena-comunidad.vida_y_esperanza.content') %>
              </p>
            </div>
          </div>
        </div>

            <!-- seguidores_de_jesus pequena-comunidad -->
    <div class="pequena-comunidad" id="pequena-comunidad">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h3><%= t('pequena-communidad-section.pequena-comunidad.seguidores_de_jesus.title') %></h3>
        </div>
        <div class="col-sm-12 col-md-8">
          <h4><%= t('pequena-communidad-section.pequena-comunidad.seguidores_de_jesus.schedule') %></h4>
          <h5><%= t('pequena-communidad-section.pequena-comunidad.seguidores_de_jesus.scripture') %></h5>
          <p>
            <%= t('pequena-communidad-section.pequena-comunidad.seguidores_de_jesus.content') %>
          </p>
        </div>
      </div>
    </div>

        <!-- rios_de_agua_viva pequena-comunidad -->
        <div class="pequena-comunidad" id="pequena-comunidad">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <h3><%= t('pequena-communidad-section.pequena-comunidad.rios_de_agua_viva.title') %></h3>
            </div>
            <div class="col-sm-12 col-md-8">
              <h4><%= t('pequena-communidad-section.pequena-comunidad.rios_de_agua_viva.schedule') %></h4>
              <h5><%= t('pequena-communidad-section.pequena-comunidad.rios_de_agua_viva.scripture') %></h5>
              <p>
                <%= t('pequena-communidad-section.pequena-comunidad.rios_de_agua_viva.content') %>
              </p>
            </div>
          </div>
        </div>

 
  
    <h3 class="text-center" style="padding: 10px 10px 55px 10px; font-weight: 700">Puedes seguir nuestra pagina en Facebook. Click <a href="https://www.facebook.com/people/Luz-Del-Mundo-Rcc/pfbid05TFUpxCqzmSpp9LptPTs9DeQ6kw7qqCW8soHy8DycexNk8zAFYRr8SLAJNCoV8C3l/?mibextid=LQQJ4d" target="_blank">Aqui!</a></h3>
  </div>



<%= render "/partials/resos"%>
<%= render "/partials/invitamos"%>




