<div class="misaSection">
  <div class="jumbotron misaJumbo">
    <div class="container">
      <h1><%= t('misaJumbo.welcomeTitle') %></h1>
      <p>
        <%= t('misaJumbo.content') %>
      </p>
      <a href="#que-significa-la-misa" class="btn btn-primary btn-lg"><%= t('misaJumbo.learnMoreButton') %></a>
    </div>
  </div>


  <div class="container confessionDiv" id="que-significa-la-misa">
    <div class="card misaCard">
        <div class="card-header misaCardHeader">
            <h2 class="card-title misaCardTitle text-center"><%= t('misaCard.header') %></h2>
        </div>
        <div class="card-body misaCardBody">
            <div class="section-content">
                <p><%= t('misaCard.subtitle') %></p>
                <img src="https://seguidoresdejesus.s3.amazonaws.com/mass.png" alt="Misa Católica" class="img-fluid">
                <p><%= t('misaCard.p1') %></p>
                <p><%= t('misaCard.p2') %></p>
                <p><%= t('misaCard.p3') %></p>
                <p><%= t('misaCard.p4') %></p>
            </div>
            <hr>
            <h4 class="text-center"><%= t('horarios.header') %></h4>
            <ul class="mass-hours">
                <li><%= t('horarios.li1') %></li>
                <li><%= t('horarios.li2') %></li>
                <li><%= t('horarios.li3') %></li>
            </ul>
            <h4 class="text-center"><%=t('horarios-espanol.header').html_safe%></h4>
            <ul class="mass-hours">
                <li><%= t('horarios-espanol.li1') %></li>
            </ul>
        </div>
    </div>
</div>


  <div class="container confessionDiv">
    <div class="section-title">
        <h2><%= t('confessions.header') %></h2>
    </div>
    <div class="section-content">
        <p><%= t('confessions.p1') %></p>
        <p><%= t('confessions.p2') %></p>
        <p><%= t('confessions.p3') %></p>
        <p><%= t('confessions.p4') %></p>
        <p><%= t('confessions.p5') %></p>
        <p><%= t('confessions.p6') %></p>
      </div>  
    <p class="text-center"><strong><%= t('confessions.p7') %></strong></p>
    <ul class="list-group list-group-horizontal justify-content-center">
      <li class="list-group-item"><%= t('confessions.li1') %></li>
    </ul>
  </div>





  <%= render "/partials/aboutPriest" %>
  <%= render "/partials/invitamos"%>

  



</div>

