


  <section class="pastoral">
  <div class="jumbotron text-center aboutFamiliar">
    <div class="container">
    <h1 class=""><%= t('pastoral.heading') %></h1>
    <h2><%= t('pastoral.h1') %></h2>
    <p class="lead"><%= t('pastoral.p') %> 🎉</p>
    <a href="#familiarSection2" class="btn btn-primary btn-lg">Aprender Más</a>
    </div>
</div>


  <div class="jumbotron text-center familiarSection2 faith-section" id="familiarSection2">
    <!-- <section class="faith-section"> -->
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <h2 class="section1-heading"><%= t('pastoral.section1.h2') %></h2>
              <p class="section1-content"><%= t('pastoral.section1.p1') %></p>
              <p class="section1-content"><%= t('pastoral.section1.p2') %></p>
              <p class="section1-content"><%= t('pastoral.section1.p3') %></p>
            </div>
          </div>
        </div>
      <!-- </section> -->
  </div>

  <div class="jumbotron text-center familiarSection3"></div>

  <div class="jumbotron text-center headingSection">
    <div class="container">
        <h1 class="display-4"><%= t('pastoral.section2.h1') %></h1>
        <p class="lead"><%= t('pastoral.section2.p1') %></p>
        <p class="contact-details"><%= t('pastoral.section2.p2') %></p>
        <p class="contact-details"><%= t('pastoral.section2.p3') %></p>
        <p class="contact-details"><%= t('pastoral.section2.p4') %></p>
    </div>
  </div>

  <div class="jumbotron text-center familiarSection4"></div>
</section>




<%= render "/partials/invitamos"%>
