<div class="jumbotron text-center resosPage">
  <div class="container">
    <h1><%= t('resos-full-page.header-h1') %></h1>
    <p class="lead">
      <%= t('resos-full-page.p-lead') %>
    </p>
    <a href="#que-es-un-reso" class="btn btn-primary btn-lg"><%= t('misaJumbo.learnMoreButton') %></a>
  </div>
</div>

<section class="py-5 custom-section" id="que-es-un-reso">
  <div class="container" id="custom-section">
    <div class="row">
      <h1 class="text-center mb-4 text-center">
        <%= t('resos-full-page.que-reso-h1') %>
      </h1>
      <p class="text-center">
        <%= t('resos-full-page.que-reso-subtitle') %>
      </p>

      <div class="col-lg-6 col-md-12 col-sm-12">
        <!-- Sección 1: Reflexión Meditativa -->
        <h2 class="mt-4"><%= t('resos-full-page.quality1') %></h2>
        <p>
         <%= t('resos-full-page.context1') %>
        </p>

        <!-- Sección 2: Cultivando la Paz Interior -->
        <h2 class="mt-4"><%= t('resos-full-page.quality2') %></h2>
        <p>
          <%= t('resos-full-page.context2') %>
        </p>

        <!-- Sección 3: Fortaleciendo la Fe y la Esperanza -->
        <h2 class="mt-4"><%= t('resos-full-page.quality3') %></h2>
        <p>
          <%= t('resos-full-page.context3') %>
        </p>

        <!-- Sección 4: Una Comunidad de Creyentes -->
        <h2 class="mt-4"><%= t('resos-full-page.quality4') %></h2>
        <p>
          <%= t('resos-full-page.context4') %>
        </p>

        <!-- Conclusión -->
        <h2 class="mt-4"><%= t('resos-full-page.quality5') %></h2>
        <p>
          <%= t('resos-full-page.context5') %>
        </p>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 rosary-image-parent">
        <%= image_tag 'rosario.png', class: 'rosary-image'%>
      </div>
    </div>
  </div>
</section>


<section class="blue-bg text-center">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <img src="https://seguidoresdejesus.s3.amazonaws.com/virgen-maria.png" alt="May Rosary" class="img-fluid mb-3" width="175px" style="padding-left: 25px;">
      </div>
      <div class="col-md-6">
        <h2>Experience the Power of Rosaries</h2>
        <p>Join us in the months of May and October for a transformative journey through prayer and reflection. Our rosary sessions are moments of spiritual connection, peace, and community.</p>
        <p>Embrace the serenity of May evenings with our sunset rosary sessions, held every day at 6:00 PM. Feel the warmth of October evenings as we gather every day at 6:00 PM.</p>
        <p>Join Us every Sunday morning at 5:00 AM, , where the first light of dawn welcomes our rosary prayers. This early session provides a serene and meditative start to your day.</p>
        <p>Be part of a vibrant community that comes together to strengthen faith, find solace, and uplift one another. Reserve your spot now for these powerful moments of devotion!</p>
      </div>
    </div>
  </div>
</section>




<%= render "/partials/invitamos"%>




<!-- add partial about the months we do rosary prayers to people's houses -->

<style>
  .blue-bg {
    background-color: #e6f7ff; /* Light blue background color */
    padding: 40px; /* Add padding around the content */
  }
</style>