





<section id="events" style="padding-bottom:50px;">

    <div class="events-heading">
        <h2 id="videos-heading" class="text-white">Bulletin Semanal de Nuestra Parroquia</h2>
        <a style="text-decoration: none;" href="<%= @href %>"><h1 id="videos-heading a-bulletin" class="text-white"><%= @name %></h1></a>
    </div>

    <div class="bulletin">
        <a href="<%= @href %>">
            <picture> 
                <source type="image/webp" srcset="<%= @source %>"> 
                <img class="bulletin-img" alt="<%= @alt_picture %>" src="<%= @img_src %>"> 
            </source>
            </picture>
            </a> 
    </div>
</section>